main {
	font-family: 'Open Sans', sans-serif;
}


/*Header*/

.header {
	font-family: "EB Garamond", serif;
	font-size: 5em;
	width: 70%;
	height: auto;
	margin: 20px 0px 50px 100px;
}

/*Analyse-Box*/

.giv-get {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}


.giv {
	background-color: #394d66;
	height: 600px;
	flex-basis: 500px;
	min-width: 400px;
	left: 15%;
	flex: auto;
	margin: 30px 2.5% 30px 2.5%;
	padding: 30px 0px 30px 0px;
}

.get {
	background-color: #394d66;
	height: 600px;
	flex-basis: 500px;
	min-width: 400px;
	left: 15%;
	flex: auto;
	margin: 30px 2.5% 30px 2.5%;
	padding: 30px 0px 30px 0px;
}


/*Banner*/

.banner-left {
	height: 40px;
	width: 190px;
	background-color: #243040;
	margin-left: -20px;
	font-family: 'Open Sans';
	font-weight: bold;
	padding-left: 20px;
	line-height: 40px;
	color: #fff !important;
	font-size: 0.7em;
}

.banner-right {
	height: 40px;
	width: 190px;
	background-color: #243040;
	float: right;
	margin-right: -20px;
	font-family: 'Open Sans';
    font-weight: bold;
	padding-right: 20px;
	line-height: 40px;
	text-align: right;
    color: #fff !important;
	font-size: 0.7em;
}

.banner-left:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #000;
	background-color: black;
}


.banner-left-shadow {
    width: 20px;
    height: 0;    
    padding-left:20px;
    padding-bottom: 20px;
    overflow: hidden;
	margin-left: -20px;
}
.banner-left-shadow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-20px;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid #18202a;
}

.banner-right-shadow {
    width: 20px;
    height: 0;    
    padding-right:20px;
    padding-bottom: 20px;
    overflow: hidden;
	margin-right: -20px;
    float: right;
	clear: both;
}
.banner-right-shadow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-right:-20px;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #18202a;
}

.zbanner-left {
    margin-top: 240px;
}

.zbanner-right {
    margin-top: 260px;
}

/*Video-Box*/

.vbox {
	margin: 100px 0% 100px 0%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.vtile {
	margin: 20px 2% 20px 2%;
    position: relative;
    display: inline-block;
    cursor: pointer;
	background-color: #394d66;
}

 img {
  width:300px;
  height:200px;
}


a.video {
  float: left;
  position: relative;
  border-top: 4px solid #394d66;
  border-right: 4px solid #394d66;
  border-left: 4px solid #394d66;
  border-bottom: 2px solid #394d66;
}

a.video span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../image/play.png") no-repeat;
  background-position: 50% 50%;
  background-size: 75px;
}

/*Header-Titel-Effekt*/

.panel {
	height: 100vh; 
	background: url(../image/parallax_1.jpg) no-repeat 0% 0%;
	background-position: center;
	background-size: cover; 
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
  	}

.titl {
    position: absolute;
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	color: black;
	transition: 0.15s ease-in;
	-moz-transition: 0.15s ease-in;
	-webkit-transition: 0.15s ease-in;
}

.title1 {
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: 195px;
	right: 61.2vw;
}

.title2 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top:195px;
	right: 59.4vw;
}

.title3 { 
	z-index: 2.8;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top:195px;
	right: 57.8vw;
}

.title4 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 63.6vw;
}

.title5 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 61.9vw;
}

.title6 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 60.45vw;
}

.title7 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 58.6vw;
}

.title8 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 57.45vw;
}

.title9 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 55.7vw;
}

.title10 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 53.7vw;
}

.title11 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 51.9vw;
}

.title12 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 2.8vw;
	color: black;
	top: calc(195px + 3vw);
	right: 49.9vw;
}

.title13 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 13vw;
	color: black;
	top:195px;
	right: 65.5vw;
}

.title14 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 62.5vw;
}


.title15 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 58.5vw;
}

.title16 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 55.1vw;
}

.title17 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 50.5vw;
}

.title18 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 46.7vw;
}

.title19 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 44.3vw;
}

.title20 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 41.7vw;
}

.title21 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 38.4vw;
}

.title22 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 35.7vw;
}

.title23 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 32vw;
}

.title24 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 5vw);
	right: 28.1vw;
}

.title25 { 
	z-index: 2;
	font-family: InknutAntiqua-Bold;
	font-size: 5.9vw;
	color: black;
	top: calc(195px + 1vw);
	right: 47vw;
}


/*Result Box*/

.result {
	width: 95%;
	background-color: #394d66;
	height: 500px;
	margin: 50px 2.5% 0 2.5%;
	padding-top: 30px;
}

.hide {
	display: none;
}

.show {
	display: block;
}


















